*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI, sans-serif;
}

body{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:#cfe3ea;

}

/* MAIN CARD */

.container{

background:white;

padding:40px;

border-radius:20px;

box-shadow:0 15px 35px rgba(0,0,0,0.15);

text-align:center;

width:650px;

}

/* LOGO */

.logo{

display:flex;

justify-content:center;

align-items:center;

gap:8px;

font-size:26px;

font-weight:600;

margin-bottom:20px;

}

.logo-icon{

color:#2db4a7;

font-size:28px;

}

.logo-text{

color:#444;

}

/* TITLE */

.title{

font-size:22px;

margin-bottom:30px;

}

/* CARDS */

.cards{

display:flex;

gap:20px;

}

/* CARD */

.card{

flex:1;

padding:25px;

border-radius:16px;

box-shadow:0 6px 15px rgba(0,0,0,0.1);

transition:0.3s;

}

.card:hover{

transform:translateY(-5px);

}

.staff{

background:#d9f1ec;

}

.patient{

background:#dce8f5;

}

.icon{

font-size:50px;

margin-bottom:10px;

}

/* BUTTON */

button{

padding:12px 20px;

border:none;

border-radius:8px;

color:white;

font-size:15px;

cursor:pointer;

margin-top:10px;

}

.staff-btn{

background:#2db4a7;

}

.patient-btn{

background:#3a84d8;

}

/* LOGIN PAGE */

.login-box{

width:520px;

}

.subtitle{

color:#666;

margin-bottom:25px;

}

label{

display:block;

text-align:left;

margin-bottom:6px;

font-weight:600;

}

.input{

width:100%;

padding:12px;

border-radius:8px;

border:1px solid #ccc;

margin-bottom:20px;

font-size:14px;

}

/* NEXT BUTTON */

.next-btn{

width:100%;

background:#2db4a7;

margin-bottom:20px;

}

/* DIVIDER */

.divider{

margin:15px 0;

position:relative;

}

.divider span{

background:white;

padding:0 10px;

color:#777;

}

.divider:before{

content:"";

position:absolute;

left:0;

right:0;

top:50%;

height:1px;

background:#ccc;

}

/* GOOGLE BUTTON */

.google-btn{

width:100%;

background:white;

color:#444;

border:1px solid #ccc;

display:flex;

align-items:center;

justify-content:center;

gap:10px;

}

.google-btn img{

width:20px;

}

/* REGISTER */

.register{

margin-top:20px;

color:#555;

}